extends ../layouts/default
            
ul
  if (req.isAuthenticated())
    li
      a(href="/users/"+req.user.id, title="Profile") Profile
    li
      a(href="/logout", title="logout") Logout
  else
    li
      a(href="/login", title="Login") Login

block form
  - var action = '/timers'
  if (!timer.isNew)
    - action += '/'+timer.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .jubotron
    unless open_timer
      form.form-inline(method="post", action=action)
        input#desc.input-xlarge(type='text', id="doing", name="body", value=ended_timers[0] ? ended_timers[0].body : '', placeholder='What are you doing?')=timer.body
        script
          $('#doing').focus();
        .gray &nbsp; for &nbsp;
        input#desc.input-small(type='text', name="duration", value="25", style='text-align:center;width:18px;', placeholder='How long?')=timer.body
        .gray &nbsp; minutes &nbsp;
        button.btn.btn-primary(type='submit') Start
        .spacer
    else
      .row
        .span3
          #clock
        .span2
          form(action="/timers/" + open_timer._id + "/stop", method="post")
            .body-timer
              input(type="text", name="body", value=open_timer.body, id="doing", placeholder="What are you doing?", style="width:225px;")
              script
                $('#doing').focus();
            input.btn.btn-primary(id="stop-timer", type='submit',value="Stop") 
      script
        // Javascript
        $(function() {
          $('div#clock').countdown(new Date('#{open_timer.endedAt}'), function(event) { // Update every second one time only if(event.type != "seconds") return;
            // Calculate the time left
            var timeLeft = [
              event.lasting.minutes,
              event.lasting.seconds
            ];
            // Convert the number to two digits strings
            for(var i = 0; i < timeLeft.length; ++i) {
              timeLeft[i] = (timeLeft[i] < 10 ? '0' : '') + timeLeft[i].toString();
            }
            // Concatenate the strings with : and update the html
            $(this).html(timeLeft.join(':'));

            switch(event.type) {
              case "finished":
                $('#stop-timer').val('Update')
                $('#doing').attr('placeholder', 'What did you do?')
                soundManager.play('ding', {
                  onfinish:function() {
                    alert('Your timer has ended');
                  }
                });
              break;
            }
          });
        });

block content
    hr(class="no-top")
    - timer_heading = ''
    - last_timer_heading = 0
    each timer in ended_timers
      .timer
        - timer_heading = timer.createdAtHumanize.split(' ')[0] 
        if timer_heading != last_timer_heading
          h3=timer_heading
        - last_timer_heading = timer_heading
        
        h4=timer.user.username
        .body  #{timer.body} 
        .time-left for #{timer.duration} at #{timer.createdAtTime} 
          form.form-inline(action="/timers/"+timer.id, method="post",style="display:inline;")
            input(type="hidden", name="_method", value="DELETE")
            a.delete(href="#", onclick="$(this).parents('form:first').submit();") remove
